@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .underline-from-left {
    position: relative;
  }

  .underline-from-left::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8080F5;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underline-from-left:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .linear-gradient {
    background: linear-gradient(0deg, white, rgb(234, 232, 255) 80%);
  }

  .border-shadow {
    box-shadow: 12px 12px;
  }

  .margin {
    margin: auto;
  }

  .imgcontainer{
    background-color: rgba(0, 0, 255, 0.5);
  }
}